# Rider
.idea/

# .NET Core build folders
bin/
obj/

# NuGet Packages
*.nupkg
*.snupkg

# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Verifier output
*.received.txt

# Coverlet reports
**/coverage/
**/coverage-report/

# Local output
dist/